<div>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<span>Are You Sure You Want To delete This Admin ?</span>
<form asp-action="DeleteAdmin">
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
</div>
